<h1>Stupid Coaching</h1>
<p>Now is <%= Time.now %><p>


<p>You!  <strong> <%= @question%></strong> </p>
<p> Coach <strong><%= @answer %></strong>  </p>


<%= link_to "Ask the coach again", ask_path %>

